<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lemon.jcourse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="深入浅出"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57c3fd24e0f55a756700263e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- 图片剪切 -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat" />
        <!-- 相册图片选择 -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".module.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity android:name=".module.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.java.JavaTextDetailActivity"
            android:label="课程详情" />
        <activity
            android:name=".module.account.RegisterActivity"
            android:label="注册" />
        <activity
            android:name=".module.account.LoginActivity"
            android:label="登录" />
        <activity
            android:name=".module.account.UpdateInfoActivity"
            android:label="个人信息" />
        <activity
            android:name=".module.java.StarJCourseListActivity"
            android:label="我的收藏" />
        <activity
            android:name=".module.java.JavaCourseDirListActivity"
            android:label="Java课程目录" />
        <activity android:name=".module.java.JavaCourseUnitListActivity" />
        <activity
            android:name=".module.AboutActivity"
            android:label="关于" />
    </application>

</manifest>