<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.alien95.util">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
</manifest>
